:root {
	--background-color: white;
	--text-color: #101010;
    --title-color: var(--background-color);
    --subtitle-color: var(--text-color);
    --primary-color: #e3783d;
    --secondary-color: var(--primary-color);
    --accent-color: #fcf1ea;
    --button-color: var(--text-color);
    --github-color: var(--text-color);
}

.dark-mode {
	--background-color: #0c0c0c;
	--text-color: #dbdbdb;
    --title-color: white;
    --subtitle-color: var(--title-color);
    --primary-color: hsl(21, 86%, 42%);
    --secondary-color: hsl(21, 72%, 39%);
    --accent-color: #282828;
    --button-color: var(--accent-color);
    --github-color: var(--background-color);
}

@font-face { font-family: Montserrat; src: local("Montserrat"), url('/fonts/montserrat.woff2'); font-style: normal;} 
@font-face { font-family: Montserrat; src: local("Montserrat Bold"), url('/fonts/montserrat.woff2'); font-style: normal; font-weight: bold;} 
@font-face { font-family: Montserrat; src: local("Montserrat Italic"), url('/fonts/montserrat_italic.woff2'); font-style: italic;}

* {
    box-sizing: border-box;
}

object {
    color: var(--primary-color);
}

html {
    width: 92%;
    margin: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat';
    font-size: 12px;
}

.header-container {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--subtitle-color);
}

.picture-container {
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: var(--title-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    line-height: normal;
    height: 48;
    padding: 13px 0px;
    font-size: 20px;
    width: 75%;
    margin: 30px auto 10px;
}

h2 {
    margin: 20px 0 0;
    color: var(--subtitle-color);
}

h3 {
    margin: 0px;
    color: var(--subtitle-color);
}

p {
    text-align: justify;
    line-height: 1.5;
}

a {
    color: var(--text-color);
}

.button-container {
    text-align: center;
    & .contact-button {
        margin: 0 10px;
    }
}

.contact-button {
    padding: 8px;
    text-decoration: none;
    color: var(--title-color);
    background-color: var(--button-color);
    border-radius: 8px;
    display: inline-block;
    line-height: 0;
}

.contact-icon {
    width: 20px
}

#dark-mode-toggle {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    & button {
        border-radius: 100%;
        border: none;
        cursor: pointer;
        flex-grow: 0;
        width: fit-content;
    }

    & svg {
        width: 20px;
    }
}

/* Resume */

ul {
    margin-bottom: 10px;
    padding-inline-start: 20px;
}

li::marker {
    font-size: 12px;
    color: var(--subtitle-color);
}

.resume-content {
    margin: 20px 0;
}

cvtitle {
    display: block;
    font-weight: bold;
    margin-top: 8px;
    color: var(--subtitle-color);
}

cvdate {
    display: block;
    font-style: italic;
    margin-bottom: 3px;
}

cvtext {
    display: block;
    text-align: justify;
    line-height: 1.2;
}

xpcie {
    display: inline-block;
    font-weight: bold;
}

xpjob {
    display: inline-block;
    font-weight: normal;
}

.download-icon {
    height: 18px;
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
}

.download-text {
    vertical-align: middle;
    margin: 0 10px;
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 0;
}


.project {
    flex: 0 0 100%;
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    & p {
        flex-grow: 1;
    }
}

.project-title {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--subtitle-color);
}

.project-image {
    height: 24px;
    width: auto;
}


.project-links {
    display: flex;
    gap: 15px;
    justify-self: end;
}

.project-links a {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--title-color);
}

.project-demo-link {
    background-color: var(--secondary-color);
}

.project-github-link {
    background-color: var(--github-color);
}

.section-container {
    margin: auto;
}

@media screen and (min-width: 640px) {
    html {
        width: 70%;
        max-width: 1180px;
        font-size: medium;
        margin-bottom: 60px;
    }

    h1 {
        font-size: 30px;
        height: 60px;
        padding: 13px 0px 17px 0px;
        width: 60%;
        margin: 60px auto 30px;
    }

    h2 {
        margin: 30px 0 0;
    }

    p {
        font-size: medium;
    }

    .header-container {
        padding-top: 50px;
        font-size: 40px;
    }

    .picture-container {
        width: 220px;
    }

    .button-container {
        & .contact-button {
            margin: 0 20px;
        }
    }

    .contact-button {
        padding: 15px;
        border-radius: 10px;
    }

    .contact-icon {
        width: 30px
    }

    ul {
        margin-bottom: 20px;
        padding-inline-start: 40px;
    }
    
    li::marker {
        font-size: 20px;
    }

    .resume-content {
        margin: 30px 0;
    }

    cvtitle {
        margin-top: 15px;
    }

    cvdate {
        margin-bottom: 5px;
    }

    .download-icon {
        margin: 0 10px 0 5px;
    }

    .project {
        flex: 1 0 26%;
    }
}
